.{
    margin: 0;
    padding: 0;
}
.me{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url(images/Mh.jpg);

}


.you{
    width: 100%;
    height: 100%;
    font-size: 26px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,0,5);
}

.link-button{
    text-decoration: none;
   background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.she{
    width: 100%;
    height: 100%;
    font-size: 26px;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,0,5);
    box-shadow: 700px;
}
.s{
    width: 100%;
    height: 100%;
    font-size: 26px;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,0,5);
    box-shadow: 700px;
}





   
    





